<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.juanimoli.strictmode.notifier">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
            android:name="io.github.juanimoli.strictmode.notifier.LogWatchService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name="io.github.juanimoli.strictmode.notifier.StrictModeReportActivity"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/strictmode_notifier_ic_launcher"
            android:label="@string/strictmode_notifier_app_name"
            android:taskAffinity="com.nshmura.strictmodenotifier"
            android:theme="@style/StrictModeNotifier.AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="io.github.juanimoli.strictmode.notifier.StrictModeReportDetailActivity"
            android:theme="@style/StrictModeNotifier.AppTheme" />

    </application>
</manifest>
